[defaults]
force_color=True
fact_caching=jsonfile
fact_caching_connection=/tmp/ansible_facts_cache
callbacks_enabled=profile_tasks,timer
forks=20
gathering=explicit
inject_facts_as_vars=False
interpreter_python=auto_silent
inventory=/etc/ansible
stdout_callback=debug
task_timeout=3600
timeout=25

[connection]
pipelining=True

[ssh_connection]
pipelining=True

[inventory]
enable_plugins=yaml, community.docker.docker_containers
